* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar{
    background:linear-gradient( rgb(115, 193, 196) ,rgb(117, 184, 117),rgb(202, 202, 135) );
     /background: rgba(33, 149, 226, 0.5);
background-blend-mode: darken;
}
nav .container>a {
    text-transform: uppercase;
    letter-spacing: 5px;
}
ul .nav-item .nav-link {
    color: rgb(43, 41, 41);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


#Home{
    height: 100vh;
}
